
/* CSS for About Us Page*/
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1.crew-title {
  font-size: 30px;
  margin-top: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.crew-image-row {
  display: flex;
  justify-content: center;
  margin: 30px;
  
}

.crew-image-container {
   margin: 10px; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 1000px;
  width: 250px;
  border: 2px solid #db9d47;  
}

.crew-image {
  width: 220px;
  height: 300px;
  object-fit: cover;
  margin-top: 10px;
  transition: transform 0.5s;
  border-color: #143f8e;
}

.crew-image-container:hover .crew-image {
  /* transform: rotateZ(20deg) scale(1.1); */
}

.crew-name {
  margin-top: 10px;
  padding: 0px;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* .crew-role {
  margin-top: 0px;
} */

.crew-image-container .crew-role {
  padding: 0px;
  margin: 0px;
  font-weight:bolder;
  color: #db9d47;
}

.crew-description {
  width: 220px;
  height: 150px;
  margin-top: 5px;
  padding: 5px;
  overflow: auto;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f2ee;
  font-size: 13px;
}

