$primary: #EB5E28;
$secondary:#233d4d;
$third:#FE7f2d;
$accent: #FCCA46;
$light:#CCC5b9;
$navbar-light-active-color:$primary;
$navbar-dark-active-color:$primary;

@import "../../node_modules/bootstrap/scss/bootstrap";
