
/* CSS for About Us Page*/
  h1.crew-title {
    font-size: 30px;
    margin-top: 30px;
  }
  
  .crew-image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    
  }
  
  .crew-image-container {
    margin: 10px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 1000px;
    width: 250px;
    border: 2px solid #db9d47;  
  }
  
  .crew-image {
    width: 220px;
    height: 300px;
    object-fit: cover;
    margin-top: 10px;
    transition: transform 0.5s;
    border-color: #143f8e;
  }
 
  .crew-name {
    margin-top: 10px;
    padding: 0px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .crew-image-container .crew-role {
    padding: 0px;
    margin: 0px;
    font-weight:bolder;
    color: #db9d47;
  }
  
  .crew-description {
    margin-top: 5px;
    padding: 5px;
    background-color: #f5f2ee;
    font-size: .625rem;
  }
  