/* Home Page CSS */

.home-header {
  margin-left: 20px;
  text-align: left;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
  max-height: 400px;
  margin-top: -70px;
}

.hero-content {
  flex: 1 1 50%;
  max-width: 700px;
  margin-left: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.hero-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #555;
}

.download-app {
  position: relative; 
  text-align: center;
  margin-top: 20px;
  margin-bottom: 120px; 
}

.download-app h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.app-logo img {
  max-width: 200px;
  margin-left: -30px;
}

.app-buttons {
  display: flex;
  gap: 10px;
  justify-content: center; 
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .hero-content {
    flex: 1 1 100%;
    margin-left: 0;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }

  .hero-image img {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .download-app {
    position: static;
    margin-bottom: 120px;
  }

  .app-logo img {
    margin-left: 0;
  }
}

@media screen and (max-width: 576px) {
  .download-app {
    position: relative;
    text-align: center;
    margin-top: 20px; 
  }

  .app-buttons {
    flex-direction: row; 
    justify-content: center; 
  }
}


/* CSS for About Us Page*/
  h1.crew-title {
    font-size: 30px;
    margin-top: 30px;
  }
  
  .crew-image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    width: 1200px;
    
  }
  .crew-image-container {
    margin: 10px; 
    text-align: center;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    border: 2px solid #db9d47;  
  }
  
  .crew-image {
    width: 220px;
    height: 300px;
    object-fit: cover;
    margin-top: 10px;
    transition: transform 0.5s;
    border-color: #143f8e;
  }
 
  .crew-name {
    margin-top: 10px;
    padding: 0px;
    font-weight: bold;
   
  }
  
  .crew-image-container .crew-role {
    padding: 0px;
    margin: 0px;
    font-weight:bolder;
    color: #db9d47;
  }
  
  .crew-description {
    margin-top: 5px;
    padding: 5px;
    background-color: #f5f2ee;
    font-size: .625rem;
  }
  .container {
    width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    text-align: center;
    color: #eb5e28;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .form-column {
    flex: 1;
    margin-right: 10px;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
    font-weight: normal;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; 
    box-sizing: border-box; 
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #eb5e28;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #c04b1c;
  }
  /* Project Styles */
  .project-container {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 20px;
  }

  .project-title {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #eb5e28;
  }

  .project-description {
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
  }

  .images-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .screenshot-image {
    max-width: 200px;
    margin-right: 60px;
  }

  .services_heading {
    text-align: left;
    font-size: 28px;
    color: #333;
    padding: 20px;
    font-weight: bold;
  }

  .services_description {
    text-align: left;
    font-size: 16px;
    color: #333;
    margin-left: 20px;
    margin-right: 20px;
  }

  .gray_box_container {
    display: flex;
    justify-content: space-between;
  }
  
  .graybox {
    flex: 1;
    margin-left: 32px;
    border-radius: 5px;
    background-color: #DADADA;
  }

  .graybox:last-child {
    margin-right: 32px;
  }

  .graybox_title2 {
    text-align: center;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
  }

  .icon-image {
    max-width: 50px;
    margin-left: 20px;
    padding-top: 20px;
  }
  
  .service_heading {
    text-align: left;
    font-size: 28px;
    color: #333;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }