<header class="home-header">
  <h1> Welcome to the official page of <br /> GIGA CREW</h1>
</header>

<section class="hero">
  <div class="hero-content">
    <p>We are a dynamic development team consisting of eight highly skilled developers. With a collective passion for creating groundbreaking solutions, our team is dedicated to crafting innovative Android, iOS, and web applications. We strive for excellence in every project we undertake, blending creativity and technical expertise to deliver exceptional user experiences.</p>
    <a href="/projects" class="hero-button">View Projects</a>
  </div>
  <div class="hero-image">
    <img src="/assets/images/hero_image.png" alt="Hero Image">
  </div>
  <div class="download-app">
    <h2 style="font-size:16px;">Download our new app</h2>
    <div class="app-logo">
      <img src="/assets/images/app_logo.png" alt="App Logo">
    </div>
    <div class="app-buttons">
      <a href="https://play.google.com">
        <img src="/assets/images/playstoretag.png" alt="Google Play Store Button">
      </a>
      <a href="https://apps.apple.com">
        <img src="assets/images/appstoretag.png" alt="Apple App Store Button">
      </a>
    </div>
  </div>
</section>