<div>
  <h1 class="services_heading">Our services</h1>
  <div class="gray_box_container">
    <div class="graybox">
      <img class="icon-image" src="assets/images/web-programming.png" alt="web development Logo">
      <h2 class="service_heading">Webiste Development</h2>
      <p class="services_description">
        As web developers, we combine technical expertise with creativity to bring ideas to life. From designing
        visually appealing layouts to implementing robust functionality, we strive to create user-friendly interfaces.
      </p>
    </div>
    <div class="graybox">
      <img class="icon-image" src="assets/images/coding.png" alt="mobile Logo">
      <h6 class="service_heading">Mobile App Development</h6>
      <p class="services_description">
        With a strong foundation in mobile technologies such as Android and iOS, we specialize in crafting intuitive and
        engaging user experiences. We conceptuale app designs to implement robust functionalities.
      </p>
    </div>
    <div class="graybox">
      <img class="icon-image" src="assets/images/feather-pen.png" alt="UI Logo">
      <h6 class="service_heading">UI & UX design</h6>
      <p class="services_description">
        we bring together our imaginative flair and technical proficiency to craft visually captivating and
        user-friendly interfaces. Through conducting thorough user research, crafting wireframes, and creating
        prototypes, our aim is to ensure perfection.
      </p>
    </div>

    <div class="graybox">
      <img class="icon-image" src="assets/images/best-product.png" alt="webflow Logo">

      <h6 class="service_heading">Webflow Development</h6>
      <p class="services_description">
        We leverage the platform's intuitive visual interface to design, build, and launch
        websites that are responsive and highly customizable. With Webflow's robust features, we have the flexibility to
        create unique layouts.
      </p>
    </div>
  </div>
</div>